{"filter":false,"title":".htaccess","tooltip":"/public/.htaccess","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":16},"action":"insert","lines":["RewriteEngine on"],"id":1}],[{"start":{"row":0,"column":15},"end":{"row":0,"column":16},"action":"remove","lines":["n"],"id":2}],[{"start":{"row":0,"column":15},"end":{"row":0,"column":16},"action":"insert","lines":["f"],"id":3}],[{"start":{"row":0,"column":16},"end":{"row":0,"column":17},"action":"insert","lines":["f"],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":17},"end":{"row":0,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1543452280862,"hash":"843f1048ad9cf5ba15d6a174da8be7b3204cf8e8"}